<!DOCTYPE html>
<html>
  <head>
    <title>国际事业部</title>
  </head>
  <style type="text/css">
    table{
      width: 800px;
      margin: 0 auto;
      line-height: 0;
    }
    body,td,tr,img{
      padding: 0;
      margin: 0;
      border-spacing:0;
      border: none;
    }
  </style>
  <body>
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="https://t.alipayobjects.com/images/T1L2xfXhlnXXXXXXXX.png"></td>
      </tr>
      <tr>
        <td><a href="http://www.aliway.com/read.php?fid=17&tid=275534"><img src="https://t.alipayobjects.com/images/T1IghfXiJgXXXXXXXX.png"></a></td>
      </tr>
      <tr>
        <td><img src="https://t.alipayobjects.com/images/T1jv8fXX8iXXXXXXXX.png"></td>
      </tr>
      <tr>
        <td><a href="http://www.aliway.com/read.php?fid=17&tid=275534"><img src="https://t.alipayobjects.com/images/T1YK8fXkhwXXXXXXXX.png"></a></td>
      </tr>
      <tr>
        <td><img src="https://t.alipayobjects.com/images/T1gLRfXexlXXXXXXXX.png"></td>
      </tr>
    </table>
  </body>
</html>
