<!DOCTYPE html>
<html>
  <head>
    <title>测试页面</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    
  <div class="header">
    <div class="logo">wss</div>
    <ul class="nav">
      <li>My tools</li>
      <li>My tools</li>
      <li>My tools</li>
      <li>My tools</li>
      <li>My tools</li>
    </ul>
  </div>

  <div class="ui-list">
    <div class="ui-tools ui-me">
      <ul>
        <li class="ui-avator"></li>
        <li class="ui-info">
        <div class="ui-name">Moha Moha Moha</div>
        <div class="ui-plus">1581368681@qq.com</div>
        </li>
        <li class="ui-arrow">箭头</li>
        <li class="ui-task">5 task</li>
      </ul>
    </div>

    <div class="ui-tools ui-orange active">
      <ul>
        <li class="ui-avator"></li>
        <li class="ui-info">
        <div class="ui-name">Moha Moha Moha</div>
        <div class="ui-plus">1581368681@qq.com</div>
        </li>
        <li class="ui-arrow">箭头</li>
        <li class="ui-task">5 task</li>
      </ul>
      <div class="ui-unfold">
        <div class="ui-head"></div>
          <div class="ui-content">
            <form method="POST" action="/compare" enctype="multipart/form-data">
              <div class="ui-item">
                <div class="ui-btn">选择文件
                  <input type="file" name="upload1" id="">
                </div>
              </div>
              <div class="ui-item">
                <div class="ui-btn">选择文件
                  <input type="file" name="upload2" id="">
                </div>
              </div>
              <div class="ui-item">
                <button class="ui-btn" type="submit">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>

    <div class="ui-tools ui-green">
      <ul>
        <li class="ui-avator"></li>
        <li class="ui-info">
        <div class="ui-name">Moha Moha Moha</div>
        <div class="ui-plus">1581368681@qq.com</div>
        </li>
        <li class="ui-arrow">箭头</li>
        <li class="ui-task">5 task</li>
      </ul>
      <div class="ui-unfold">
        <div class="ui-head"></div>
        <div class="ui-content">
          <form method="POST" action="compare">
            <div class="ui-item">
              <div class="ui-btn">选择文件
                <input type="file" name="" id="">
              </div>
            </div>
            <div class="ui-item">
              <div class="ui-btn">选择文件
                <input type="file" name="" id="">
              </div>
            </div>
            <div class="ui-item">
              <button class="ui-btn" type="submit">提交</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="ui-tools ui-red">
      <ul>
        <li class="ui-avator"></li>
        <li class="ui-info">
        <div class="ui-name">Moha Moha Moha</div>
        <div class="ui-plus">1581368681@qq.com</div>
        </li>
        <li class="ui-arrow">箭头</li>
        <li class="ui-task">5 task</li>
      </ul>
      <div class="ui-unfold">
        <div class="ui-head"></div>
        <div class="ui-content">
          <form method="POST">

          </form>
        </div>
      </div>
    </div>


  </div>
  </body>
</html>
